# Part 1 of the assignment

## Import all Necessary libraries

In [5]:
import numpy as np
import pandas as pd

import json
from pandas.io.json import json_normalize 

import matplotlib as plt
%matplotlib inline

#from yellowbrick.cluster import KElbowVisualizer

from sklearn.cluster import KMeans
print("Libraries imported")

Libraries imported

### Get the Wiki Data and view the first 5 entries

In [6]:
url_wiki = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df_list = pd.read_html(url_wiki)
df_list[0].head()

             0             1                 2
0  Postal Code       Borough     Neighbourhood
1          M1A  Not assigned      Not assigned
2          M2A  Not assigned      Not assigned
3          M3A    North York         Parkwoods
4          M4A    North York  Victoria Village

### Create a dataframe and assign the column names which are present as first row of the table/dataframe

In [7]:
canada_data = pd.DataFrame(df_list[0])
header = canada_data.iloc[0]
canada_data = canada_data.iloc[1:]
canada_data.columns = header
canada_data.head()

0 Postal Code           Borough              Neighbourhood
1         M1A      Not assigned               Not assigned
2         M2A      Not assigned               Not assigned
3         M3A        North York                  Parkwoods
4         M4A        North York           Victoria Village
5         M5A  Downtown Toronto  Regent Park, Harbourfront

In [8]:
#Group by Borough to see which borough is "NOT ASSIGNED" 
canada_data.groupby("Borough").count()

0                 Postal Code  Neighbourhood
Borough
Central Toronto             9              9
Downtown Toronto           19             19
East Toronto                5              5
East York                   5              5
Etobicoke                  12             12
Mississauga                 1              1
North York                 24             24
Not assigned               77             77
Scarborough                17             17
West Toronto                6              6
York                        5              5

In [9]:
## Remove borough NOT ASSIGNED
canada_data = canada_data[canada_data["Borough"] != "Not assigned"].reset_index(drop = True)
canada_data.groupby("Borough").count()

0                 Postal Code  Neighbourhood
Borough
Central Toronto             9              9
Downtown Toronto           19             19
East Toronto                5              5
East York                   5              5
Etobicoke                  12             12
Mississauga                 1              1
North York                 24             24
Scarborough                17             17
West Toronto                6              6
York                        5              5

In [10]:
## Replace not assigned Neighbourhood values with the Borough value
for i in range(canada_data.shape[0]):
    if canada_data["Neighbourhood"][i] == "Not assigned":
        canada_data["Neighborhood"][i] == canada_data["Borough"][i]

In [11]:
# Combine neighbourhoods with same postal code
canada_data["Neighbourhood"] = canada_data.groupby(by = ["Postal Code" , "Borough"])['Neighbourhood'].transform(lambda x: ','.join(x))

In [43]:
canada_data.shape

(103, 3)

# Part 2 of the assignment.
## Reading the geospatial coordinates and merging them with the canada data file to obtain the required dataframe

In [45]:
geo_coordinates = pd.read_csv("Geospatial_Coordinates.csv" , header=0)
geo_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [46]:
data = pd.merge(canada_data,geo_coordinates,on = "Postal Code" , how = "left")

In [47]:
data.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [49]:
data.shape

(103, 5)